.wrapperPlanets {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.wrapperPlanets h2 {
  color: #FFF;
  font-size: 5rem;
}

.internPlanets{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}