.wrapperPlanets {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.wrapperPlanets h2 {
  color: #FFF;
  font-size: 5rem;
}

.internPlanets {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapperPlanetsEach {
  padding: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 36px;
  border: 1px solid #EB3678;
  border-radius: 8px;
}

.infoWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoWrapper div {
  display: flex;
  flex-direction: column;
}

.infoWrapper div h4 {
  color: #FFF;
  font-size: 3rem;
}

.infoWrapper div h5 {
  color: #FFF;
  font-size: 1.5rem;
}

.infoWrapper button {
  max-width: 350px;
  min-width: 280px;
  width: 25%;
  padding: 16px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #EB3678;
  color: #FFF;
  font-size: 1.75rem;
  transition: background-color 1s;
}

.infoWrapper button:hover {
  background-color: #af2457;
}

@media (max-width: 1150px) {
  .wrapperPlanets h2 {
    font-size: 3rem;
    text-align: center;
  }

  .wrapperPlanetsEach {
    flex-direction: column;
    gap: 16px;
  }

  .infoWrapper div h4 {
    font-size: 2rem;
  }

  .infoWrapper div h5 {
    font-size: 1.25rem;
  }

  .infoWrapper button {
    width: 100%;
    font-size: 1.5rem;
  }
}