.headerWrapper{
  width: 100%;
  height: 5rem;

  position: fixed;
  z-index: 10;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 3px solid #FB773C;
}
.navbar{
  transition: 1s ease-in-out;
  width: 40%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #FB773C;
  border-radius: 16px;
  font-size: 1.25rem;

  .eachNavLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    transition: 1s;
    &:hover{
      transform: scale(1.1);
    }
  
    p{
      color: #FB773C;
      cursor: pointer;
      transition: 1s;
      &:hover{
        color: #FFF;
      }
  
      &:hover::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #FFF;
        transition: width 0.3s;
      }
  
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #FB773C;
        transition: width 0.3s;
      }
    }
  }
}
.socialLinks{
  position: absolute;
  gap: 1.5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 16px;
  a{
    color: #FB773C;
    font-size: 1.5rem;
    transition: 1s;
    &:hover{
      transform: scale(1.1);
    }
    img{
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.scrolled{
  background-color: #2d0555;
}