.portfolioWrapper{
  width: 100%;
  height: auto;
  padding-bottom: 15rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #180161;
  color: #FFF;
}
.galaxyWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1150px) {
  .portfolioWrapper{
    gap: 1.5rem;
    padding-bottom: 10rem;
  }
}